* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{  }
input{outline:none}
p,h1,h2,h3,h4,h5,li,ul,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}